In [1]:
print("Hi")

Hi

# find all ANAGRAMS in given list

In [3]:
strs = ['eat', 'cba', 'tae', 'abc', 'xyz',"pqr"]
d={}
for word in strs:
    sorted_word="".join(sorted(word))
    if sorted_word in d:
        d[sorted_word].append(word)
    else:
        d[sorted_word]=[word]
print(d)

{'aet': ['eat', 'tae'], 'abc': ['cba', 'abc'], 'xyz': ['xyz'], 'pqr': ['pqr']}

In [2]:
res=list(d.values())
print(res)

[['eat', 'tae'], ['cba', 'abc'], ['xyz'], ['pqr']]

In [12]:
anagram_words=[]
# for lst in res:
#     if len(lst)>1:
#         anagram_words.append(lst)
# print(anagram_words)  
print([lst for lst in res if len(lst)>1])

[['eat', 'tae'], ['cba', 'abc']]

In [5]:
strs = ['restful', 'forty five', 'evil', 'over fifty', 'vile', 'fluster']
d={}
for word in strs:
    sorted_word="".join(sorted(word))
    if sorted_word in d:
        d[sorted_word].append(word)
    else:
        d[sorted_word]=[word]
print(d)

{'eflrstu': ['restful', 'fluster'], ' effiortvy': ['forty five', 'over fifty'], 'eilv': ['evil', 'vile']}

In [14]:
[word for word in d.values() if len(word)>1]

[['restful', 'fluster'], ['forty five', 'over fifty'], ['evil', 'vile']]

In [15]:
list_of_words=["bcda","abce","cbda","cbea","adcb"]
target="abcd"
print([word for word in list_of_words if sorted(target)==sorted(word)])

['bcda', 'cbda', 'adcb']

In [17]:
input=["red","green","black","white","ping"]
d={}
for word in input:
    if len(word) in d:
        d[len(word)].append(word)
    else:
        d[len(word)]=[word]
print(d)

{3: ['red'], 5: ['green', 'black', 'white'], 4: ['ping']}

In [ ]:
{len(word):word for word in input if len(word)}

In [13]:
lst=[123,4567,89012,3435,6789]
d={}
for i in lst:
    if len(str(i)) in d:
        d[len(str(i))].append(i)
    else:
        d[len(str(i))]=[i]
print(d)

{3: [123], 4: [4567, 3435, 6789], 5: [89012]}

In [22]:
# import mysql.connecter
# con=mysql.connecter.connect(host="",
#                        user_name="",
#                        pwd="",
#                        database="")
# obj=con.cursor()
# obj.execute("select * form emp")

In [24]:
# string is palindrome or not 
string="madam"
if string==string[::-1]:
    print("string is PALINDROME")
else:
    print("string is not palindrome")

string is PALINDROME

In [25]:
string="madam"
op=""
for cha in string:
    op=cha + op
print(op)

madam

In [26]:
if string==op:
    print("string is PALINDROME")
else:
    print("string is NOT PALINDROME")

string is PALINDROME

In [27]:
# palindrom strins are radar,refer,level,reviver,

In [29]:
num=1221
str_num=str(num)
if str_num==str_num[::-1]:
    print("PALINDROME NUMBER")
else:
    print("NUMBER IS NOT PALINDROME")

PALINDROME NUMBER

# how to reverse a string

In [30]:
string="abcd"
print(string[::-1])

dcba

In [32]:
op=""
for cha in string:
    op=cha + op
print(op)

dcba

In [33]:
print("".join(reversed(string)))

dcba

In [14]:
lst=["ABC","DEF","GHI","JKL"]
op=[]
for word in lst:
    op.append(word.title())
print(op)

['Abc', 'Def', 'Ghi', 'Jkl']

In [15]:
print([word.title() for word in lst])

['Abc', 'Def', 'Ghi', 'Jkl']

In [19]:
num=12345
str_num=list(str(num))
print(str_num)
op=list(map(int,str_num))
print(op)
print(sum(op))

['1', '2', '3', '4', '5']
[1, 2, 3, 4, 5]
15

In [17]:
num=9876
str_num=list(str(num))
print(str_num)
op=list(map(int,str_num))
op
print(sum(op))

['9', '8', '7', '6']
30

In [20]:
#  fibnacci number
first=0
second=1
fibnaucc=[]
for i in range(10):
    # print(first)
    temp=first
    first=second
    second=temp + second
    fibnaucc.append(second)
print(fibnaucc)    
    # print(second,end="\n")

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# get flat list form nested list

In [23]:
# nested_lis=[1,2,[3,4],[5,6],7,[8,9],(1,2,3)]
def get_flate_list(nested_list):
    flate_list=[]
    for item in nested_list:
        if isinstance(item,list) or isinstance(item,tuple):
            flate_list.extend(get_flate_list(item))
        else:
            flate_list.append(item)
    return flate_list
# print(get_flate_list([1,2,[3,4],[5,6],7,[8,9]]))
op=get_flate_list([1,2,[3,4],[5,6],7,[8,9],(1,2,3)])
print(op)
print(min(op))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3]
1

In [71]:
print(max(op))

9

In [5]:
string="python programind"
vowels="aeiouAEIOU"
count=0
op=[]
for cha in string:
    if cha in vowels:
        count +=1
    if cha in vowels:
        op.append(cha)
print(count,op) 
print(op)

4 ['o', 'o', 'a', 'i']
['o', 'o', 'a', 'i']

# print every index duplicates in list

In [78]:
lst=[1,3,1,4,2,5,2,55,3,5,2]
[i for i in range(len(lst)) if lst.count(i)>1]

[1, 2, 3, 5]

# prind index every duplicate item in list

In [79]:
def print_duplicate_indices(lst):
    element_to_indices = {}
    for index, element in enumerate(lst):
        if element not in element_to_indices:
            element_to_indices[element] = [index]
        else:
            element_to_indices[element].append(index)

    for element, indices in element_to_indices.items():
        if len(indices) > 1:
            print(f"Element {element} is found at indices {indices}")

# Test the function
print_duplicate_indices(['a', 'b', 'c', 'a', 'b', 'c', 'd'])

Element a is found at indices [0, 3]
Element b is found at indices [1, 4]
Element c is found at indices [2, 5]

In [81]:
lst=['a', 'b', 'c', 'a', 'b', 'c', 'd']
element_index={}
for index,value in enumerate(lst):
    if value in element_index:
        element_index[value].append(index)
    else:
        element_index[value]=[index]
print(element_index)

{'a': [0, 3], 'b': [1, 4], 'c': [2, 5], 'd': [6]}

In [84]:
for element,index in element_index.items():
    if len(index)>1:
        print(element,"index position is",index)

a index position is [0, 3]
b index position is [1, 4]
c index position is [2, 5]

In [87]:
input=[1,2,3,1,2,3,4,5]
ele_index={}
for index,val in enumerate(input):
    if val  in ele_index:
        ele_index[val].append(index)
    else:
        ele_index[val]=[index]
print(ele_index)

{1: [0, 3], 2: [1, 4], 3: [2, 5], 4: [6], 5: [7]}

In [88]:
for ele, index in ele_index.items():
    if len(index)>1:
        print(ele,index)

1 [0, 3]
2 [1, 4]
3 [2, 5]

# printn duplicats in list

In [90]:
input=[1,2,3,1,2,3,4,5]
d={}
for i in input:
    if i in d:
        d[i]=d[i]+1
    else:                  
        d[i]=1
print(d)

{1: 2, 2: 2, 3: 2, 4: 1, 5: 1}

In [24]:
for item,count in d.items():
    if count>1:
        # print(count)
        print(key)

TypeError: '>' not supported between instances of 'list' and 'int'

In [92]:
def print_duplicates(lst):
    element_count = {}
    for element in lst:
        if element not in element_count:
            element_count[element] = 1
        else:
            element_count[element] += 1

    for element, count in element_count.items():
        if count > 1:
            print(f"Element {element} is duplicated")

# Test the function
print_duplicates(['a', 'b', 'c', 'a', 'b', 'c', 'd'])

Element a is duplicated
Element b is duplicated
Element c is duplicated

In [93]:
lst=['a', 'b', 'c', 'a', 'b', 'c', 'd']
unique=[]
duplicates=[]
for i in lst:
    if i not in unique:
        unique.append(i)
    else:
        duplicates.append(i)
print(unique)

['a', 'b', 'c', 'd']

# sum 9

In [1]:
data=[3,4,6,5,2,1]
sum=9
for n1 in data:
    for n2 in data:
        if n1+n2==sum:
            print(n1,n2)

3 6
4 5
6 3
5 4

# sum =3

In [29]:
data=[3,4,6,5,2,1]
sum=3
for n1 in data:
    for n2 in data:
        if n1+n2==sum:
            print(n1,n2)

2 1
1 2

In [5]:
data=[1,2,1,0,1,4,2]
op=[i for i in data if i !=1] + [i for i in data if i==1]
print(op)

[2, 0, 4, 2, 1, 1, 1]

In [31]:
data=[1,2,1,0,1,4,2]
for i in data:
    if i==1:
        data.remove(i)
        data.append(i)
print(data)

[2, 0, 4, 2, 1, 1, 1]

# how to check number is prime or not

In [32]:
n=7
for i in range(2,n):
    if n%i==0:
        break
else:
    print(n,"IS PRIME NUMBER")

7 IS PRIME NUMBER

# filter all prime numbers below 100

In [33]:
def is_prime(n):
    
    for i in range(2,n):
        if n%i==0:
            return False
    else:
           return True
op=list(filter(is_prime,range(2,101))) 
print(op)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [6]:
def is_prime(n):
    
    for i in range(2,n):
        if n%i==0:
            return False
    else:
           return True
is_prime(5)

True

In [34]:
data=["Javascript", "Java", "Python" ,"Springboot"]
max_length=max(data,key=len)
print(max_length)

Javascript

In [35]:
data=["Javascript", "Java", "Python" ,"Springboot"]
max_length=len(max(data,key=len))
for word in data:
 if len(word)==max_length:
               print(word)

Javascript
Springboot

In [25]:
data=["Javascript", "Java", "Python" ,"Springboot"]
max_length=len(max(data,key=len))
op=list(filter(lambda word:len(word)==max_length,data))
op

['Javascript', 'Springboot']

In [36]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[0::2]

[1, 3, 5, 7, 9]

In [28]:
nums[0::2]

[1, 3, 5, 7, 9]

In [37]:
names = ["A. P. J. Abdul Kalam","Steven Paul Jobs","Bill Gates", "Ratan Naval Tata" ]
l=[]
for name in names:
    name=name.split()[-1]
    l.append(name)
l

['Kalam', 'Jobs', 'Gates', 'Tata']

In [38]:
data ="oediv eht ekil esaelp"
data[::-1].title()

'Please Like The Video'

In [39]:
data = "oediv eht ekil esaelp".split(" ")
op=[]
for word in data:
    op.append(word[::-1].title())
print(op)

['Video', 'The', 'Like', 'Please']

In [50]:
string="we are going to travel all over the planet".split()
string

['we', 'are', 'going', 'to', 'travel', 'all', 'over', 'the', 'planet']

In [51]:
op=[]
for word in string:
    op.append(word[::-1].title())
op

['Ew', 'Era', 'Gniog', 'Ot', 'Levart', 'Lla', 'Revo', 'Eht', 'Tenalp']

In [52]:
data=[" python"," java ","reactja "]
op=list(map(lambda word:word.strip(),data))
op

['python', 'java', 'reactja']

In [53]:
data=[" python"," java ","reactja "]
op=[]
for word in data:
    op.append(word.strip())
op

['python', 'java', 'reactja']

In [55]:
data=["python","java","reactJs"]
op=[]
for word in data:
    if len(word)>4:
        op.append(word)
op

['python', 'reactJs']

In [56]:
[word for word in data if len(word)>4]

['python', 'reactJs']

In [42]:
input=["a","b","d","c","e"]
index=input.index("c")
print(index)
input.pop(3)
input.insert(2,"c")
print(input)

3
['a', 'b', 'c', 'd', 'e']

In [12]:
x=[10,20,30][-1]
y=round(14,-1)
# print(y)
z=x/y
z

3.0

In [64]:
a=10
a=a+2
a

12

In [65]:
a=20
a+=10
a

30

In [66]:
a=5
a-=1

In [67]:
a

4

In [69]:
data=[1,2,3,4,5]
op=[]
for i in data:
    if i==3:
        continue
    else:
     op.append(i)
op

[1, 2, 4, 5]

In [70]:
data=[1,2,3,4,5]
new_data=data
new_data[0]=999
print(data)
print(new_data)

[999, 2, 3, 4, 5]
[999, 2, 3, 4, 5]

In [13]:
data="file_name.txt"
op=data.split(".")[-1]
op

'txt'

In [73]:
a=10
b="5"
c=a+b
print(c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [75]:
data=[1,2,3,4]
d=data[::-1]
d

[4, 3, 2, 1]

In [76]:
print(data[1] + d[-1])

3

In [43]:
lst=[1,2,3,4,5]
for i in lst:
    if i==6:
        break
else:
        print("printing completed1")
for i in lst:
    if i==2:
        break
else:
    print("printing not completed")

printing completed1

In [82]:
data=["python","java","react","js","node"]
target="react"
index=data.index(target)
print(data[index+1:])

['js', 'node']

In [45]:
lst=[1,2,3,4,5,6,7,8,9,10]
index=lst.index(7)
print(lst[index+1:])

[8, 9, 10]

In [89]:
dbmail="gopi.vardhan97@gmail.com"
usermail="gopi.vardhan97@gmail.com"
print(dbmail==usermail)

True

In [90]:
# import pandas as pd 
# file1=pd.read_csv("file1 path ")
# file2=pd.read_csv("file2 path ")
# op=pd.merge(file1,file2,how="left",on=["product_id"])

In [16]:
import datetime
today=datetime.datetime.now()
print(today)
# print(list(today))

2024-08-21 13:47:03.595809

TypeError: 'datetime.datetime' object is not iterable

In [93]:
today.year

2024

In [94]:
today.month

7

In [96]:
today.day

22

In [97]:
today.hour

18

In [99]:
today.minute

37

In [100]:
today.second

59

In [103]:
today.date()

datetime.date(2024, 7, 22)

In [104]:
today.strftime("%d %m %Y")

'22 07 2024'

In [46]:
date_string="22 july 2024"
datetime.strptime(date_string,"%d %B ,%Y")

NameError: name 'datetime' is not defined

In [18]:
from datetime import datetime

# Convert string to datetime object using strptime
date_string = "21 June, 2018"
date_object = datetime.strptime(date_string, "%d %B, %Y")

# Convert datetime object to string using strftime
formatted_date = date_object.strftime("%Y-%m-%d")

print(formatted_date)  # Outputs: 2018-06-21

2018-06-21

In [115]:
print(ord(" "))

32

In [47]:
string="we are going to travel all over the world"
op=""
for cha in string:
    if cha ==" ":
        op=op + cha
    else:    
       op=op + chr(ord(cha)+2)
print(op)

yg ctg iqkpi vq vtcxgn cnn qxgt vjg yqtnf

In [128]:
string="python"
op=""
for cha in string:
    if ord(cha)%2==0:
        op=op + cha.upper()
    else:
        op=op + cha.lower()
print(op)

PyTHoN

In [129]:
string="we are going to travel all over the world"
op=""
for cha in string:
    if ord(cha)%2==0:
        op +=cha.upper()
    else:
        op +=cha.lower()
print(op)

we aRe goiNg To TRaVeL aLL oVeR THe woRLD

In [130]:
string="pythoncode"
l=[]
for cha in string:
    if ord(cha)%2==0:
        l.append(cha)
    else:
        pass
print(l)

['p', 't', 'h', 'n', 'd']

In [48]:
string="gopi"
l=[]
for cha in string:
    l.append((ord(cha),cha))
print(l)

[(103, 'g'), (111, 'o'), (112, 'p'), (105, 'i')]

In [137]:
string="apple banana"
string
vowels="AEIOUaeiou"
print("".join(["U" if cha in vowels else cha for cha in string ]))

UpplU bUnUnU

In [138]:
input=["a","b","c","d"]
op={cha:cha.upper() for cha in input}
op

{'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D'}

In [140]:
d={"D":1,"B":2,"C":3}
sorted(d.items())

[('B', 2), ('C', 3), ('D', 1)]

In [50]:
op=dict(sorted(d.items(),key=lambda v:v[1]))
op

{3: [123], 4: [4567, 3435, 6789], 5: [89012]}

In [144]:
d={"like":2,"dislike":3,"followers":10}
sorted(d.items())

[('dislike', 3), ('followers', 10), ('like', 2)]

In [53]:
dict(sorted(d.items(),key=lambda x:x[1]))

{3: [123], 4: [4567, 3435, 6789], 5: [89012]}

In [146]:
def is_equal(a,b,c):
    if a==b==c:
        return 3
    elif a==b and b==c:
        return 1
    else:
        return 0
is_equal(1,2,3)

0

In [147]:
is_equal(1,1,1)

3

In [149]:
is_equal(1,2,1)

0

In [150]:
input=[3,4,5]
sorted_numbers=sorted(input)
if sorted_numbers[0]**2 + sorted_numbers[1]**2 ==sorted_numbers[1]**2:
    print("numbers are trpplet")
else:
    print("numbers not tripplet")

numbers not tripplet

In [19]:
input_list=["google","apple","microsoft"]
sorted(input_list,key=len)

['apple', 'google', 'microsoft']

In [57]:
input=[3,3,3,7,3,3,6]
print([i for i in input if input.count(i)==1])

[7, 6]

In [58]:
input=[3,3,3,7,3,3,6]
d={}
for i in input:
    if i in d:
        d[i]=d[i]+1
    else:
        d[i]=1
print(d)

{3: 5, 7: 1, 6: 1}

In [22]:
for key,val in d.items():
    if val==1:
        print(key)

7

In [23]:
lst=[1,2,3,4]
l=[]
for i in lst:
    if i%4==0:
        l.append(i*10)
    else:
        l.append(i)
print(l)

[1, 2, 3, 40]

In [160]:
[i*10 if i%4==0 else i for i in lst ]

[1, 2, 3, 40]

In [163]:
n=999
str_num=str(n)
sum=0
for digit in str_num:
    sum += int(digit)
print(sum)

27

In [164]:
length=len(str_num)
op=sum/length
op

9.0

In [165]:
lst=[1,3,3,5,5]
l=[]
for item in lst:
    if item not in l:
        l.append(item)
print(l)

[1, 3, 5]

# FILE_HANDLING

In [3]:
with open(r"C:\Users\2329805\OneDrive - Cognizant\Desktop\ai.txt") as file:
    data=file.read()
    print(data)

In [266]:
with open(r"C:\Users\2329805\OneDrive - Cognizant\Desktop\ai.txt") as file:
    data=file.read(5)
    print(data)

Artif

In [59]:
with open(r"C:\Users\2329805\OneDrive - Cognizant\Desktop\ai.txt") as file:
    data=file.readline()
    print(data)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\2329805\\OneDrive - Cognizant\\Desktop\\ai.txt'

In [268]:
with open(r"C:\Users\2329805\OneDrive - Cognizant\Desktop\ai.txt") as file:
    data=file.readlines()
    print(data)

['Artificial intelligence allows machines to match, or even improve upon, the capabilities of the human mind.\n', 'From the development of self-driving cars to the proliferation of generative AI tools, AI is increasingly becoming part of everyday life.']

# line count of text file

In [291]:
with open(r"C:\Users\2329805\OneDrive - Cognizant\Desktop\ai.txt") as file:
    line=file.readlines()
    # print(line)
    line_count=0
    for line in line:
        line_count +=1
    print(line_count)

2

# word count of text file

In [3]:
with open(r"C:\Users\2329805\OneDrive - Cognizant\Desktop\ai.txt") as file:
    word=file.read().split()
    # print(word)
    word_count=0
    for word in word:
        word_count  +=1
    print(word_count)

37

# characte count of text file

In [293]:
with open(r"C:\Users\2329805\OneDrive - Cognizant\Desktop\ai.txt") as file:
    data=file.read().split()
    print(data)
    character_count=0
    for word in data:
        for cha in word:
            character_count +=1
    print(character_count)

['Artificial', 'intelligence', 'allows', 'machines', 'to', 'match,', 'or', 'even', 'improve', 'upon,', 'the', 'capabilities', 'of', 'the', 'human', 'mind.', 'From', 'the', 'development', 'of', 'self-driving', 'cars', 'to', 'the', 'proliferation', 'of', 'generative', 'AI', 'tools,', 'AI', 'is', 'increasingly', 'becoming', 'part', 'of', 'everyday', 'life.']
209

# spaace count

In [300]:
with open(r"C:\Users\2329805\OneDrive - Cognizant\Desktop\ai.txt") as file:
    data=file.read()
    print(data)
    space_count=0
    for cha in data:
        if cha ==" ":
            space_count +=1
    print(space_count)

Artificial intelligence allows machines to match, or even improve upon, the capabilities of the human mind.
From the development of self-driving cars to the proliferation of generative AI tools, AI is increasingly becoming part of everyday life.
35

In [301]:
with open(r"C:\Users\2329805\OneDrive - Cognizant\Desktop\ai.txt") as file:
    dara=file.read()
    count_of_a=0
    for cha in data:
        if cha == "a":
            count_of_a +=1
    print(count_of_a)

13

# write()

In [304]:
with open(r"C:\Users\2329805\OneDrive - Cognizant\Desktop\ai.txt","w") as file:
    data=file.write("welocme")
    print(data)

7

In [305]:
with open(r"C:\Users\2329805\OneDrive - Cognizant\Desktop\ai.txt","w") as file:
    open=file.read()
    print(open)

UnsupportedOperation: not readable

# csv file

In [5]:
import csv
with open(r"C:\Users\2329805\Downloads\cars_data.csv") as file:
    data=list(csv.reader(file))
    # print(data)
    for line in data:
      for word in line:
          print(word,"\t",end="")

Make 	Model 	Type 	Origin 	DriveTrain 	MSRP 	Invoice 	EngineSize 	Cylinders 	Horsepower 	MPG_City 	MPG_Highway 	Weight 	Wheelbase 	Length 	Acura 	MDX 	SUV 	Asia 	All 	$36,945  	$33,337  	3.5 	6 	265 	17 	23 	4451 	106 	189 	Acura 	RSX Type S 2dr 	Sedan 	Asia 	Front 	$23,820  	$21,761  	2 	4 	200 	24 	31 	2778 	101 	172 	Acura 	TSX 4dr 	Sedan 	Asia 	Front 	$26,990  	$24,647  	2.4 	4 	200 	22 	29 	3230 	105 	183 	Acura 	TL 4dr 	Sedan 	Asia 	Front 	$33,195  	$30,299  	3.2 	6 	270 	20 	28 	3575 	108 	186 	Acura 	3.5 RL 4dr 	Sedan 	Asia 	Front 	$43,755  	$39,014  	3.5 	6 	225 	18 	24 	3880 	115 	197 	Acura 	3.5 RL w/Navigation 4dr 	Sedan 	Asia 	Front 	$46,100  	$41,100  	3.5 	6 	225 	18 	24 	3893 	115 	197 	Acura 	NSX coupe 2dr manual S 	Sports 	Asia 	Rear 	$89,765  	$79,978  	3.2 	6 	290 	17 	24 	3153 	100 	174 	Audi 	A4 1.8T 4dr 	Sedan 	Europe 	Front 	$25,940  	$23,508  	1.8 	4 	170 	22 	31 	3252 	104 	179 	Audi 	A41.8T convertible 2dr 	Sedan 	Europe 	Front 	$35,940  	$32,506  	1.8 	4 	170 	23 	30 	3638 	105 	180 	Audi 	A4 3.0 4dr 	Sedan 	Europe 	Front 	$31,840  	$28,846  	3 	6 	220 	20 	28 	3462 	104 	179 	Audi 	A4 3.0 Quattro 4dr manual 	Sedan 	Europe 	All 	$33,430  	$30,366  	3 	6 	220 	17 	26 	3583 	104 	179 	Audi 	A4 3.0 Quattro 4dr auto 	Sedan 	Europe 	All 	$34,480  	$31,388  	3 	6 	220 	18 	25 	3627 	104 	179 	Audi 	A6 3.0 4dr 	Sedan 	Europe 	Front 	$36,640  	$33,129  	3 	6 	220 	20 	27 	3561 	109 	192 	Audi 	A6 3.0 Quattro 4dr 	Sedan 	Europe 	All 	$39,640  	$35,992  	3 	6 	220 	18 	25 	3880 	109 	192 	Audi 	A4 3.0 convertible 2dr 	Sedan 	Europe 	Front 	$42,490  	$38,325  	3 	6 	220 	20 	27 	3814 	105 	180 	Audi 	A4 3.0 Quattro convertible 2dr 	Sedan 	Europe 	All 	$44,240  	$40,075  	3 	6 	220 	18 	25 	4013 	105 	180 	Audi 	A6 2.7 Turbo Quattro 4dr 	Sedan 	Europe 	All 	$42,840  	$38,840  	2.7 	6 	250 	18 	25 	3836 	109 	192 	Audi 	A6 4.2 Quattro 4dr 	Sedan 	Europe 	All 	$49,690  	$44,936  	4.2 	8 	300 	17 	24 	4024 	109 	193 	Audi 	A8 L Quattro 4dr 	Sedan 	Europe 	All 	$69,190  	$64,740  	4.2 	8 	330 	17 	24 	4399 	121 	204 	Audi 	S4 Quattro 4dr 	Sedan 	Europe 	All 	$48,040  	$43,556  	4.2 	8 	340 	14 	20 	3825 	104 	179 	Audi 	RS 6 4dr 	Sports 	Europe 	Front 	$84,600  	$76,417  	4.2 	8 	450 	15 	22 	4024 	109 	191 	Audi 	TT 1.8 convertible 2dr (coupe) 	Sports 	Europe 	Front 	$35,940  	$32,512  	1.8 	4 	180 	20 	28 	3131 	95 	159 	Audi 	TT 1.8 Quattro 2dr (convertible) 	Sports 	Europe 	All 	$37,390  	$33,891  	1.8 	4 	225 	20 	28 	2921 	96 	159 	Audi 	TT 3.2 coupe 2dr (convertible) 	Sports 	Europe 	All 	$40,590  	$36,739  	3.2 	6 	250 	21 	29 	3351 	96 	159 	Audi 	A6 3.0 Avant Quattro 	Wagon 	Europe 	All 	$40,840  	$37,060  	3 	6 	220 	18 	25 	4035 	109 	192 	Audi 	S4 Avant Quattro 	Wagon 	Europe 	All 	$49,090  	$44,446  	4.2 	8 	340 	15 	21 	3936 	104 	179 	BMW 	X3 3.0i 	SUV 	Europe 	All 	$37,000  	$33,873  	3 	6 	225 	16 	23 	4023 	110 	180 	BMW 	X5 4.4i 	SUV 	Europe 	All 	$52,195  	$47,720  	4.4 	8 	325 	16 	22 	4824 	111 	184 	BMW 	325i 4dr 	Sedan 	Europe 	Rear 	$28,495  	$26,155  	2.5 	6 	184 	20 	29 	3219 	107 	176 	BMW 	325Ci 2dr 	Sedan 	Europe 	Rear 	$30,795  	$28,245  	2.5 	6 	184 	20 	29 	3197 	107 	177 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	BMW 	325Ci convertible 2dr 	Sedan 	Europe 	Rear 	$37,995  	$34,800  	2.5 	6 	184 	19 	27 	3560 	107 	177 	BMW 	325xi 4dr 	Sedan 	Europe 	All 	$30,245  	$27,745  	2.5 	6 	184 	19 	27 	3461 	107 	176 	BMW 	330i 4dr 	Sedan 	Europe 	Rear 	$35,495  	$32,525  	3 	6 	225 	20 	30 	3285 	107 	176 	BMW 	330Ci 2dr 	Sedan 	Europe 	Rear 	$36,995  	$33,890  	3 	6 	225 	20 	30 	3285 	107 	176 	BMW 	330xi 4dr 	Sedan 	Europe 	All 	$37,245  	$34,115  	3 	6 	225 	20 	29 	3483 	107 	176 	BMW 	525i 4dr 	Sedan 	Europe 	Rear 	$39,995  	$36,620  	2.5 	6 	184 	19 	28 	3428 	114 	191 	BMW 	330Ci convertible 2dr 	Sedan 	Europe 	Rear 	$44,295  	$40,530  	3 	6 	225 	19 	28 	3616 	107 	177 	BMW 	530i 4dr 	Sedan 	Europe 	Rear 	$44,995  	$41,170  	3 	6 	225 	20 	30 	3472 	114 	191 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	BMW 	545iA 4dr 	Sedan 	Europe 	Rear 	$54,995  	$50,270  	4.4 	8 	325 	18 	26 	3814 	114 	191 	BMW 	745i 4dr 	Sedan 	Europe 	Rear 	$69,195  	$63,190  	4.4 	8 	325 	18 	26 	4376 	118 	198 	BMW 	745Li 4dr 	Sedan 	Europe 	Rear 	$73,195  	$66,830  	4.4 	8 	325 	18 	26 	4464 	123 	204 	BMW 	M3 coupe 2dr 	Sports 	Europe 	Rear 	$48,195  	$44,170  	3.2 	6 	333 	16 	24 	3415 	108 	177 	BMW 	M3 convertible 2dr 	Sports 	Europe 	Rear 	$56,595  	$51,815  	3.2 	6 	333 	16 	23 	3781 	108 	177 	BMW 	Z4 convertible 2.5i 2dr 	Sports 	Europe 	Rear 	$33,895  	$31,065  	2.5 	6 	184 	20 	28 	2932 	98 	161 	BMW 	Z4 convertible 3.0i 2dr 	Sports 	Europe 	Rear 	$41,045  	$37,575  	3 	6 	225 	21 	29 	2998 	98 	161 	BMW 	325xi Sport 	Wagon 	Europe 	All 	$32,845  	$30,110  	2.5 	6 	184 	19 	26 	3594 	107 	176 	Buick 	Rainier 	SUV 	USA 	All 	$37,895  	$34,357  	4.2 	6 	275 	15 	21 	4600 	113 	193 	Buick 	Rendezvous CX 	SUV 	USA 	Front 	$26,545  	$24,085  	3.4 	6 	185 	19 	26 	4024 	112 	187 	Buick 	Century Custom 4dr 	Sedan 	USA 	Front 	$22,180  	$20,351  	3.1 	6 	175 	20 	30 	3353 	109 	195 	Buick 	LeSabre Custom 4dr 	Sedan 	USA 	Front 	$26,470  	$24,282  	3.8 	6 	205 	20 	29 	3567 	112 	200 	Buick 	Regal LS 4dr 	Sedan 	USA 	Front 	$24,895  	$22,835  	3.8 	6 	200 	20 	30 	3461 	109 	196 	Buick 	Regal GS 4dr 	Sedan 	USA 	Front 	$28,345  	$26,047  	3.8 	6 	240 	18 	28 	3536 	109 	196 	Buick 	LeSabre Limited 4dr 	Sedan 	USA 	Front 	$32,245  	$29,566  	3.8 	6 	205 	20 	29 	3591 	112 	200 	Buick 	Park Avenue 4dr 	Sedan 	USA 	Front 	$35,545  	$32,244  	3.8 	6 	205 	20 	29 	3778 	114 	207 	Buick 	Park Avenue Ultra 4dr 	Sedan 	USA 	Front 	$40,720  	$36,927  	3.8 	6 	240 	18 	28 	3909 	114 	207 	Cadillac 	Escalade 	SUV 	USA 	Front 	$52,795  	$48,377  	5.3 	8 	295 	14 	18 	5367 	116 	199 	Cadillac 	SRX V8 	SUV 	USA 	Front 	$46,995  	$43,523  	4.6 	8 	320 	16 	21 	4302 	116 	195 	Cadillac 	CTS VVT 4dr 	Sedan 	USA 	Rear 	$30,835  	$28,575  	3.6 	6 	255 	18 	25 	3694 	113 	190 	Cadillac 	Deville 4dr 	Sedan 	USA 	Front 	$45,445  	$41,650  	4.6 	8 	275 	18 	26 	3984 	115 	207 	Cadillac 	Deville DTS 4dr 	Sedan 	USA 	Front 	$50,595  	$46,362  	4.6 	8 	300 	18 	26 	4044 	115 	207 	Cadillac 	Seville SLS 4dr 	Sedan 	USA 	Front 	$47,955  	$43,841  	4.6 	8 	275 	18 	26 	3992 	112 	201 	Cadillac 	XLR convertible 2dr 	Sports 	USA 	Rear 	$76,200  	$70,546  	4.6 	8 	320 	17 	25 	3647 	106 	178 	Cadillac 	Escalade EXT 	Truck 	USA 	All 	$52,975  	$48,541  	6 	8 	345 	13 	17 	5879 	130 	221 	Chevrolet 	Suburban 1500 LT 	SUV 	USA 	Front 	$42,735  	$37,422  	5.3 	8 	295 	14 	18 	4947 	130 	219 	Chevrolet 	Tahoe LT 	SUV 	USA 	All 	$41,465  	$36,287  	5.3 	8 	295 	14 	18 	5050 	116 	197 	Chevrolet 	TrailBlazer LT 	SUV 	USA 	Front 	$30,295  	$27,479  	4.2 	6 	275 	16 	21 	4425 	113 	192 	Chevrolet 	Tracker 	SUV 	USA 	Front 	$20,255  	$19,108  	2.5 	6 	165 	19 	22 	2866 	98 	163 	Chevrolet 	Aveo 4dr 	Sedan 	USA 	Front 	$11,690  	$10,965  	1.6 	4 	103 	28 	34 	2370 	98 	167 	Chevrolet 	Aveo LS 4dr hatch 	Sedan 	USA 	Front 	$12,585  	$11,802  	1.6 	4 	103 	28 	34 	2348 	98 	153 	Chevrolet 	Cavalier 2dr 	Sedan 	USA 	Front 	$14,610  	$13,697  	2.2 	4 	140 	26 	37 	2617 	104 	183 	Chevrolet 	Cavalier 4dr 	Sedan 	USA 	Front 	$14,810  	$13,884  	2.2 	4 	140 	26 	37 	2676 	104 	183 	Chevrolet 	Cavalier LS 2dr 	Sedan 	USA 	Front 	$16,385  	$15,357  	2.2 	4 	140 	26 	37 	2617 	104 	183 	Chevrolet 	Impala 4dr 	Sedan 	USA 	Front 	$21,900  	$20,095  	3.4 	6 	180 	21 	32 	3465 	111 	200 	Chevrolet 	Malibu 4dr 	Sedan 	USA 	Front 	$18,995  	$17,434  	2.2 	4 	145 	24 	34 	3174 	106 	188 	Chevrolet 	Malibu LS 4dr 	Sedan 	USA 	Front 	$20,370  	$18,639  	3.5 	6 	200 	22 	30 	3297 	106 	188 	Chevrolet 	Monte Carlo LS 2dr 	Sedan 	USA 	Front 	$21,825  	$20,026  	3.4 	6 	180 	21 	32 	3340 	111 	198 	Chevrolet 	Impala LS 4dr 	Sedan 	USA 	Front 	$25,000  	$22,931  	3.8 	6 	200 	20 	30 	3476 	111 	200 	Chevrolet 	Impala SS 4dr 	Sedan 	USA 	Front 	$27,995  	$25,672  	3.8 	6 	240 	18 	28 	3606 	111 	200 	Chevrolet 	Malibu LT 4dr 	Sedan 	USA 	Front 	$23,495  	$21,551  	3.5 	6 	200 	23 	32 	3315 	106 	188 	Chevrolet 	Monte Carlo SS 2dr 	Sedan 	USA 	Front 	$24,225  	$22,222  	3.8 	6 	200 	18 	28 	3434 	111 	198 	Chevrolet 	Astro 	Sedan 	USA 	All 	$26,395  	$23,954  	4.3 	6 	190 	14 	17 	4605 	111 	190 	Chevrolet 	Venture LS 	Sedan 	USA 	Front 	$27,020  	$24,518  	3.4 	6 	185 	19 	26 	3699 	112 	187 	Chevrolet 	Corvette 2dr 	Sports 	USA 	Rear 	$44,535  	$39,068  	5.7 	8 	350 	18 	25 	3246 	105 	180 	Chevrolet 	Corvette convertible 2dr 	Sports 	USA 	Rear 	$51,535  	$45,193  	5.7 	8 	350 	18 	25 	3248 	105 	180 	Chevrolet 	Avalanche 1500 	Truck 	USA 	All 	$36,100  	$31,689  	5.3 	8 	295 	14 	18 	5678 	130 	222 	Chevrolet 	Colorado Z85 	Truck 	USA 	All 	$18,760  	$17,070  	2.8 	4 	175 	18 	23 	3623 	111 	192 	Chevrolet 	Silverado 1500 Regular Cab 	Truck 	USA 	Rear 	$20,310  	$18,480  	4.3 	6 	200 	15 	21 	4142 	119 	206 	Chevrolet 	Silverado SS 	Truck 	USA 	All 	$40,340  	$35,399  	6 	8 	300 	13 	17 	4804 	144 	238 	Chevrolet 	SSR 	Truck 	USA 	Rear 	$41,995  	$39,306  	5.3 	8 	300 	16 	19 	4760 	116 	191 	Chevrolet 	Malibu Maxx LS 	Wagon 	USA 	Front 	$22,225  	$20,394  	3.5 	6 	200 	22 	30 	3458 	112 	188 	Chrysler 	PT Cruiser 4dr 	Sedan 	USA 	Front 	$17,985  	$16,919  	2.4 	4 	150 	22 	29 	3101 	103 	169 	Chrysler 	PT Cruiser Limited 4dr 	Sedan 	USA 	Front 	$22,000  	$20,573  	2.4 	4 	150 	22 	29 	3105 	103 	169 	Chrysler 	Sebring 4dr 	Sedan 	USA 	Front 	$19,090  	$17,805  	2.4 	4 	150 	22 	30 	3173 	108 	191 	Chrysler 	Sebring Touring 4dr 	Sedan 	USA 	Front 	$21,840  	$20,284  	2.7 	6 	200 	21 	28 	3222 	108 	191 	Chrysler 	300M 4dr 	Sedan 	USA 	Front 	$29,865  	$27,797  	3.5 	6 	250 	18 	27 	3581 	113 	198 	Chrysler 	Concorde LX 4dr 	Sedan 	USA 	Front 	$24,130  	$22,452  	2.7 	6 	200 	21 	29 	3479 	113 	208 	Chrysler 	Concorde LXi 4dr 	Sedan 	USA 	Front 	$26,860  	$24,909  	3.5 	6 	232 	19 	27 	3548 	113 	208 	Chrysler 	PT Cruiser GT 4dr 	Sedan 	USA 	Front 	$25,955  	$24,172  	2.4 	4 	220 	21 	27 	3217 	103 	169 	Chrysler 	Sebring convertible 2dr 	Sedan 	USA 	Front 	$25,215  	$23,451  	2.4 	4 	150 	22 	30 	3357 	106 	194 	Chrysler 	300M Special Edition 4dr 	Sedan 	USA 	Front 	$33,295  	$30,884  	3.5 	6 	255 	18 	27 	3650 	113 	198 	Chrysler 	Sebring Limited convertible 2dr 	Sedan 	USA 	Front 	$30,950  	$28,613  	2.7 	6 	200 	21 	28 	3448 	106 	194 	Chrysler 	Town and Country LX 	Sedan 	USA 	Front 	$27,490  	$25,371  	3.3 	6 	180 	19 	26 	4068 	119 	201 	Chrysler 	Town and Country Limited 	Sedan 	USA 	Front 	$38,380  	$35,063  	3.8 	6 	215 	18 	25 	4331 	119 	201 	Chrysler 	Crossfire 2dr 	Sports 	USA 	Rear 	$34,495  	$32,033  	3.2 	6 	215 	17 	25 	3060 	95 	160 	Chrysler 	Pacifica 	Wagon 	USA 	Rear 	$31,230  	$28,725  	3.5 	6 	250 	17 	23 	4675 	116 	199 	Dodge 	Durango SLT 	SUV 	USA 	All 	$32,235  	$29,472  	4.7 	8 	230 	15 	21 	4987 	119 	201 	Dodge 	Neon SE 4dr 	Sedan 	USA 	Front 	$13,670  	$12,849  	2 	4 	132 	29 	36 	2581 	105 	174 	Dodge 	Neon SXT 4dr 	Sedan 	USA 	Front 	$15,040  	$14,086  	2 	4 	132 	29 	36 	2626 	105 	174 	Dodge 	Intrepid SE 4dr 	Sedan 	USA 	Front 	$22,035  	$20,502  	2.7 	6 	200 	21 	29 	3469 	113 	204 	Dodge 	Stratus SXT 4dr 	Sedan 	USA 	Front 	$18,820  	$17,512  	2.4 	4 	150 	21 	28 	3182 	108 	191 	Dodge 	Stratus SE 4dr 	Sedan 	USA 	Front 	$20,220  	$18,821  	2.4 	4 	150 	21 	28 	3175 	108 	191 	Dodge 	Intrepid ES 4dr 	Sedan 	USA 	Front 	$24,885  	$23,058  	3.5 	6 	232 	18 	27 	3487 	113 	204 	Dodge 	Caravan SE 	Sedan 	USA 	Front 	$21,795  	$20,508  	2.4 	4 	150 	20 	26 	3862 	113 	189 	Dodge 	Grand Caravan SXT 	Sedan 	USA 	All 	$32,660  	$29,812  	3.8 	6 	215 	18 	25 	4440 	119 	201 	Dodge 	Viper SRT-10 convertible 2dr 	Sports 	USA 	Rear 	$81,795  	$74,451  	8.3 	10 	500 	12 	20 	3410 	99 	176 	Dodge 	Dakota Regular Cab 	Truck 	USA 	Rear 	$17,630  	$16,264  	3.7 	6 	210 	16 	22 	3714 	112 	193 	Dodge 	Dakota Club Cab 	Truck 	USA 	Rear 	$20,300  	$18,670  	3.7 	6 	210 	16 	22 	3829 	131 	219 	Dodge 	Ram 1500 Regular Cab ST 	Truck 	USA 	Rear 	$20,215  	$18,076  	3.7 	6 	215 	16 	21 	4542 	121 	208 	Ford 	Excursion 6.8 XLT 	SUV 	USA 	All 	$41,475  	$36,494  	6.8 	10 	310 	10 	13 	7190 	137 	227 	Ford 	Expedition 4.6 XLT 	SUV 	USA 	Front 	$34,560  	$30,468  	4.6 	8 	232 	15 	19 	5000 	119 	206 	Ford 	Explorer XLT V6 	SUV 	USA 	All 	$29,670  	$26,983  	4 	6 	210 	15 	20 	4463 	114 	190 	Ford 	Escape XLS 	SUV 	USA 	All 	$22,515  	$20,907  	3 	6 	201 	18 	23 	3346 	103 	173 	Ford 	Focus ZX3 2dr hatch 	Sedan 	USA 	Front 	$13,270  	$12,482  	2 	4 	130 	26 	33 	2612 	103 	168 	Ford 	Focus LX 4dr 	Sedan 	USA 	Front 	$13,730  	$12,906  	2 	4 	110 	27 	36 	2606 	103 	168 	Ford 	Focus SE 4dr 	Sedan 	USA 	Front 	$15,460  	$14,496  	2 	4 	130 	26 	33 	2606 	103 	168 	Ford 	Focus ZX5 5dr 	Sedan 	USA 	Front 	$15,580  	$14,607  	2 	4 	130 	26 	33 	2691 	103 	168 	Ford 	Focus SVT 2dr 	Sedan 	USA 	Front 	$19,135  	$17,878  	2 	4 	170 	21 	28 	2750 	103 	168 	Ford 	Taurus LX 4dr 	Sedan 	USA 	Front 	$20,320  	$18,881  	3 	6 	155 	20 	27 	3306 	109 	198 	Ford 	Taurus SES Duratec 4dr 	Sedan 	USA 	Front 	$22,735  	$20,857  	3 	6 	201 	19 	26 	3313 	109 	198 	Ford 	Crown Victoria 4dr 	Sedan 	USA 	Rear 	$24,345  	$22,856  	4.6 	8 	224 	17 	25 	4057 	115 	212 	Ford 	Crown Victoria LX 4dr 	Sedan 	USA 	Rear 	$27,370  	$25,105  	4.6 	8 	224 	17 	25 	4057 	115 	212 	Ford 	Crown Victoria LX Sport 4dr 	Sedan 	USA 	Rear 	$30,315  	$27,756  	4.6 	8 	239 	17 	25 	4057 	115 	212 	Ford 	Freestar SE 	Sedan 	USA 	Front 	$26,930  	$24,498  	3.9 	6 	193 	17 	23 	4275 	121 	201 	Ford 	Mustang 2dr (convertible) 	Sports 	USA 	Rear 	$18,345  	$16,943  	3.8 	6 	193 	20 	29 	3290 	101 	183 	Ford 	Mustang GT Premium convertible 2dr 	Sports 	USA 	Rear 	$29,380  	$26,875  	4.6 	8 	260 	17 	25 	3347 	101 	183 	Ford 	Thunderbird Deluxe convert w/hardtop 2d 	Sports 	USA 	Front 	$37,530  	$34,483  	3.9 	8 	280 	17 	24 	3780 	107 	186 	Ford 	F-150 Regular Cab XL 	Truck 	USA 	Rear 	$22,010  	$19,490  	4.6 	8 	231 	15 	19 	4788 	126 	211 	Ford 	F-150 Supercab Lariat 	Truck 	USA 	All 	$33,540  	$29,405  	5.4 	8 	300 	14 	18 	5464 	133 	218 	Ford 	Ranger 2.3 XL Regular Cab 	Truck 	USA 	Rear 	$14,385  	$13,717  	2.3 	4 	143 	24 	29 	3028 	111 	188 	Ford 	Focus ZTW 	Wagon 	USA 	Front 	$17,475  	$16,375  	2 	4 	130 	26 	33 	2702 	103 	178 	Ford 	Taurus SE 	Wagon 	USA 	Front 	$22,290  	$20,457  	3 	6 	155 	19 	26 	3497 	109 	198 	GMC 	Envoy XUV SLE 	SUV 	USA 	Front 	$31,890  	$28,922  	4.2 	6 	275 	15 	19 	4945 	129 	208 	GMC 	Yukon 1500 SLE 	SUV 	USA 	Front 	$35,725  	$31,361  	4.8 	8 	285 	16 	19 	5042 	116 	199 	GMC 	Yukon XL 2500 SLT 	SUV 	USA 	All 	$46,265  	$40,534  	6 	8 	325 	13 	17 	6133 	130 	219 	GMC 	Safari SLE 	Sedan 	USA 	Rear 	$25,640  	$23,215  	4.3 	6 	190 	16 	20 	4309 	111 	190 	GMC 	Canyon Z85 SL Regular Cab 	Truck 	USA 	Rear 	$16,530  	$14,877  	2.8 	4 	175 	18 	25 	3351 	111 	192 	GMC 	Sierra Extended Cab 1500 	Truck 	USA 	Rear 	$25,717  	$22,604  	4.8 	8 	285 	17 	20 	4548 	144 	230 	GMC 	Sierra HD 2500 	Truck 	USA 	All 	$29,322  	$25,759  	6 	8 	300 	13 	18 	5440 	133 	222 	GMC 	Sonoma Crew Cab 	Truck 	USA 	All 	$25,395  	$23,043  	4.3 	6 	190 	15 	19 	4083 	123 	208 	Honda 	Civic Hybrid 4dr manual (gas/electric) 	Hybrid 	Asia 	Front 	$20,140  	$18,451  	1.4 	4 	93 	46 	51 	2732 	103 	175 	Honda 	Insight 2dr (gas/electric) 	Hybrid 	Asia 	Front 	$19,110  	$17,911  	2 	3 	73 	60 	66 	1850 	95 	155 	Honda 	Pilot LX 	SUV 	Asia 	All 	$27,560  	$24,843  	3.5 	6 	240 	17 	22 	4387 	106 	188 	Honda 	CR-V LX 	SUV 	Asia 	All 	$19,860  	$18,419  	2.4 	4 	160 	21 	25 	3258 	103 	179 	Honda 	Element LX 	SUV 	Asia 	All 	$18,690  	$17,334  	2.4 	4 	160 	21 	24 	3468 	101 	167 	Honda 	Civic DX 2dr 	Sedan 	Asia 	Front 	$13,270  	$12,175  	1.7 	4 	115 	32 	38 	2432 	103 	175 	Honda 	Civic HX 2dr 	Sedan 	Asia 	Front 	$14,170  	$12,996  	1.7 	4 	117 	36 	44 	2500 	103 	175 	Honda 	Civic LX 4dr 	Sedan 	Asia 	Front 	$15,850  	$14,531  	1.7 	4 	115 	32 	38 	2513 	103 	175 	Honda 	Accord LX 2dr 	Sedan 	Asia 	Front 	$19,860  	$17,924  	2.4 	4 	160 	26 	34 	2994 	105 	188 	Honda 	Accord EX 2dr 	Sedan 	Asia 	Front 	$22,260  	$20,080  	2.4 	4 	160 	26 	34 	3047 	105 	188 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	Honda 	Civic EX 4dr 	Sedan 	Asia 	Front 	$17,750  	$16,265  	1.7 	4 	127 	32 	37 	2601 	103 	175 	Honda 	Civic Si 2dr hatch 	Sedan 	Asia 	Front 	$19,490  	$17,849  	2 	4 	160 	26 	30 	2782 	101 	166 	Honda 	Accord LX V6 4dr 	Sedan 	Asia 	Front 	$23,760  	$21,428  	3 	6 	240 	21 	30 	3349 	108 	190 	Honda 	Accord EX V6 2dr 	Sedan 	Asia 	Front 	$26,960  	$24,304  	3 	6 	240 	21 	30 	3294 	105 	188 	Honda 	Odyssey LX 	Sedan 	Asia 	Front 	$24,950  	$22,498  	3.5 	6 	240 	18 	25 	4310 	118 	201 	Honda 	Odyssey EX 	Sedan 	Asia 	Front 	$27,450  	$24,744  	3.5 	6 	240 	18 	25 	4365 	118 	201 	Honda 	S2000 convertible 2dr 	Sports 	Asia 	Rear 	$33,260  	$29,965  	2.2 	4 	240 	20 	25 	2835 	95 	162 	Hummer 	H2 	SUV 	USA 	All 	$49,995  	$45,815  	6 	8 	316 	10 	12 	6400 	123 	190 	Hyundai 	Santa Fe GLS 	SUV 	Asia 	Front 	$21,589  	$20,201  	2.7 	6 	173 	20 	26 	3549 	103 	177 	Hyundai 	Accent 2dr hatch 	Sedan 	Asia 	Front 	$10,539  	$10,107  	1.6 	4 	103 	29 	33 	2255 	96 	167 	Hyundai 	Accent GL 4dr 	Sedan 	Asia 	Front 	$11,839  	$11,116  	1.6 	4 	103 	29 	33 	2290 	96 	167 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	Hyundai 	Accent GT 2dr hatch 	Sedan 	Asia 	Front 	$11,939  	$11,209  	1.6 	4 	103 	29 	33 	2339 	96 	167 	Hyundai 	Elantra GLS 4dr 	Sedan 	Asia 	Front 	$13,839  	$12,781  	2 	4 	138 	26 	34 	2635 	103 	178 	Hyundai 	Elantra GT 4dr 	Sedan 	Asia 	Front 	$15,389  	$14,207  	2 	4 	138 	26 	34 	2635 	103 	178 	Hyundai 	Elantra GT 4dr hatch 	Sedan 	Asia 	Front 	$15,389  	$14,207  	2 	4 	138 	26 	34 	2698 	103 	178 	Hyundai 	Sonata GLS 4dr 	Sedan 	Asia 	Front 	$19,339  	$17,574  	2.7 	6 	170 	19 	27 	3217 	106 	187 	Hyundai 	Sonata LX 4dr 	Sedan 	Asia 	Front 	$20,339  	$18,380  	2.7 	6 	170 	19 	27 	3217 	106 	187 	Hyundai 	XG350 4dr 	Sedan 	Asia 	Front 	$24,589  	$22,055  	3.5 	6 	194 	17 	26 	3651 	108 	192 	Hyundai 	XG350 L 4dr 	Sedan 	Asia 	Front 	$26,189  	$23,486  	3.5 	6 	194 	17 	26 	3651 	108 	192 	Hyundai 	Tiburon GT V6 2dr 	Sports 	Asia 	Front 	$18,739  	$17,101  	2.7 	6 	172 	19 	26 	3023 	100 	173 	Infiniti 	G35 4dr 	Sedan 	Asia 	Rear 	$28,495  	$26,157  	3.5 	6 	260 	18 	26 	3336 	112 	187 	Infiniti 	G35 Sport Coupe 2dr 	Sedan 	Asia 	Rear 	$29,795  	$27,536  	3.5 	6 	280 	18 	26 	3416 	112 	182 	Infiniti 	G35 4dr 	Sedan 	Asia 	All 	$32,445  	$29,783  	3.5 	6 	260 	18 	26 	3677 	112 	187 	Infiniti 	I35 4dr 	Sedan 	Asia 	Front 	$31,145  	$28,320  	3.5 	6 	255 	19 	26 	3306 	108 	194 	Infiniti 	M45 4dr 	Sedan 	Asia 	Rear 	$42,845  	$38,792  	4.5 	8 	340 	17 	23 	3851 	110 	197 	Infiniti 	Q45 Luxury 4dr 	Sedan 	Asia 	Rear 	$52,545  	$47,575  	4.5 	8 	340 	17 	23 	3977 	113 	200 	Infiniti 	FX35 	Wagon 	Asia 	Rear 	$34,895  	$31,756  	3.5 	6 	280 	16 	22 	4056 	112 	189 	Infiniti 	FX45 	Wagon 	Asia 	All 	$36,395  	$33,121  	4.5 	8 	315 	15 	19 	4309 	112 	189 	Isuzu 	Ascender S 	SUV 	Asia 	All 	$31,849  	$29,977  	4.2 	6 	275 	15 	20 	4967 	129 	208 	Isuzu 	Rodeo S 	SUV 	Asia 	Front 	$20,449  	$19,261  	3.2 	6 	193 	17 	21 	3836 	106 	178 	Jaguar 	X-Type 2.5 4dr 	Sedan 	Europe 	All 	$29,995  	$27,355  	2.5 	6 	192 	18 	26 	3428 	107 	184 	Jaguar 	X-Type 3.0 4dr 	Sedan 	Europe 	All 	$33,995  	$30,995  	3 	6 	227 	18 	25 	3516 	107 	184 	Jaguar 	S-Type 3.0 4dr 	Sedan 	Europe 	Rear 	$43,895  	$40,004  	3 	6 	235 	18 	26 	3777 	115 	192 	Jaguar 	S-Type 4.2 4dr 	Sedan 	Europe 	Rear 	$49,995  	$45,556  	4.2 	8 	294 	18 	28 	3874 	115 	192 	Jaguar 	S-Type R 4dr 	Sedan 	Europe 	Rear 	$63,120  	$57,499  	4.2 	8 	390 	17 	24 	4046 	115 	192 	Jaguar 	Vanden Plas 4dr 	Sedan 	Europe 	Rear 	$68,995  	$62,846  	4.2 	8 	294 	18 	28 	3803 	119 	200 	Jaguar 	XJ8 4dr 	Sedan 	Europe 	Rear 	$59,995  	$54,656  	4.2 	8 	294 	18 	28 	3803 	119 	200 	Jaguar 	XJR 4dr 	Sedan 	Europe 	Rear 	$74,995  	$68,306  	4.2 	8 	390 	17 	24 	3948 	119 	200 	Jaguar 	XK8 coupe 2dr 	S

In [316]:
import os
cwd=os.getcwd()
print(cwd)

C:\Users\2329805

In [317]:
import os
print(os.listdir("."))

['.cisco', '.ipynb_checkpoints', '.ipython', '.jupyter', '.ms-ad', '.vscode', '140+ python_interview.ipynb', 'AppData', 'Application Data', 'cars_data.ipynb', 'Contacts', 'Cookies', 'DataFrame.ipynb', 'Documents', 'Downloads', 'Favorites', 'interview_code.ipynb', 'Links', 'Local Settings', 'Music', 'My Documents', 'NetHood', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{634ade37-8666-11ee-af10-e02e0ba976b1}.TM.blf', 'NTUSER.DAT{634ade37-8666-11ee-af10-e02e0ba976b1}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{634ade37-8666-11ee-af10-e02e0ba976b1}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'OneDrive - Cognizant', 'pandas', 'PANDAS.ipynb', 'PANDAS_DataSeries.ipynb', 'prac.ipynb', 'PrintHood', 'Pyspark.ipynb', 'python_interview.ipynb', 'Recent', 'Saved Games', 'Searches', 'SendTo', 'software_school_pandas.ipynb', 'software_school_python_interview.ipynb', 'Start Menu', 'string.ipynb', 'Templates', 'Untitled.ipynb', 'Untitled1.ipynb', 'Untitled10.ipynb', 'Untitled11.ipynb', 'Untitled12.ipynb', 'Untitled13.ipynb', 'Untitled14.ipynb', 'Untitled15.ipynb', 'Untitled2.ipynb', 'Untitled3.ipynb', 'Untitled4.ipynb', 'Untitled5.ipynb', 'Untitled6.ipynb', 'Untitled7.ipynb', 'Untitled8.ipynb', 'Untitled9.ipynb', 'Videos']